/* CSS Document */

body, .ui-slider {
	text-align: center;
}
.header-template, 
.diet-product-template, 
.forecast-product-template, 
.cuisine-product-template, 
.cuisine-page-template, 
.planner-cuisine-template,
.planner-page-template,
.diary-cuisine-template,
.diary-page-template,
.available-cuisine-template,
.item-template {
	display:none;
}

#about, #help {
	text-align:justify;
}

.cuisine-image {
	height:120px;
}

#diet div[data-role='content'] .ui-grid-a .ui-block-a,
#forecast div[data-role='content'] .ui-grid-a .ui-block-a {
	width: 35%; 
}
#diet div[data-role='content'] .ui-grid-a .ui-block-b,
#forecast div[data-role='content'] .ui-grid-a .ui-block-b { 
	width: 65%; 
} 

div[data-role='page'] {
	background-image: url(../images/background.jpg);
	background-repeat: repeat;
	background-position: center top;
}

.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner {
	font-size:16px !important;
}

.ui-li-count {
	font-size:16px !important;
}
#main div[data-role="content"] {
	padding:0;
}